.cart {
  width: 100%;
  height: 487.5px;
  text-align: center;
  position: fixed;
  top: 125px;
  background-color: white;
  padding-top: 10px;
  overflow-y: scroll;
}

.check-out {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: dimgrey;
  color: white;
}
