.cart-item {
  display: flex;
  border-top: 1px solid grey;
  padding: 20px 20px;
  margin: 10px;
}

.image {
  width: 100px;
  margin-right: 10px;
}

.image img {
  width: 100%;
}

.title-price {
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.quantity {
  display: flex;
}

.quantity input {
  width: 50px;
  text-align: center;
  outline: none;
  border: 1px solid black;
}

.quantity button {
  width: 20px;
  border: 1px solid black;
}
