header {
  width: 100%;
  padding: 20px;
  background-color: black;
}

.icons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100px;
}

.icons .icon {
  font-size: 25px;
}

.icons a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search input {
  width: 85%;
  height: 40px;
  border: none;
  border-radius: 10px 0 0 10px;
  outline: none;
  padding-left: 10px;
}

#searchBtn {
  width: 15%;
  height: 40px;
  border: none;
  background-color: white;
  color: black;
  border-radius: 0 10px 10px 0;
  font-size: 17px;
}
